RewriteEngine On

# Specific redirects
RewriteRule ^ListeQuestionnaires$ list_questionnaire.php [NC,L]
RewriteRule ^ListeUtilisateurs$ users_list.php [NC,L]
RewriteRule ^Statistiques$ stat.php [NC,L]
RewriteRule ^SuperviseursNational$ superviseur_national.php [NC,L]
RewriteRule ^Superviseurs$ superviseur.php [NC,L]
RewriteRule ^Controleurs$ controleur.php [NC,L]
RewriteRule ^Recenseurs$ recenseur.php [NC,L]
RewriteRule ^AjouterSuperViseurNational$ add_superviseur_national.php [NC,L]
RewriteRule ^AjouterSuperviseur$ add_superviseur.php [NC,L]
RewriteRule ^AjouterControleur$ add_controleur.php [NC,L]
RewriteRule ^AjouterRecenseurs$ add_recenseur.php [NC,L]
RewriteRule ^Questionnaire$ questionnaire.php [NC,L]
RewriteRule ^Log-in$ assets/php/login.php [NC,L]
RewriteRule ^Login$ index.php [NC,L]
RewriteRule ^Logout$ assets/php/logout.php [NC,L]

# Redirect to questionnaire_update.php with the hashed id

RewriteCond %{QUERY_STRING} id=([^&]+)
RewriteRule ^QuestionnairePreview$ /rga/questionnaire_update.php?id=%1 [NC,L]


# Rewrite other URLs to add .php extension

# 404 handler
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ not-found/not-found.html [L]
